<!doctype html>
<html>
    <head>
        <title><%- name %> | Deathmatch Components</title>

        <link rel="stylesheet" href="https://cdn.rawgit.com/styledown/styledown/v1.0.2/data/styledown.css" />
        <link rel="stylesheet" href="https://cdn.rawgit.com/markedwardsims/documarker/v0.1.2/css/documarker.css" />
        <script src="https://cdn.rawgit.com/styledown/styledown/v1.0.2/data/styledown.js"></script>

        <% css.forEach(function(path) {  %>
        <link rel="stylesheet" type="text/css" href="/<%- path %>">
        <% }); %>

        <% js.forEach(function(path) {  %>
        <script type="text/javascript" src="/<%- path %>"></script>
        <% }); %>

    </head>

    <body class="sg sg-page">

        <aside class="sg-sidebar">
            <%- include('_sidebar', navigationData) %>
        </aside>

        <div class="sg-main" role="main">
            <%- content %>
        </div>

    </body>

</html>